<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wzk.mapper.ArticleMapper">

    <resultMap id="articleMap" type="com.wzk.dao.Article">
        <id column="id" property="id" />
        <result column="author_id" property="authorId"/>
        <result column="comment_counts" property="commentCounts"/>
        <result column="create_date" property="createDate"/>
        <result column="summary" property="summary"/>
        <result column="title" property="title"/>
        <result column="view_counts" property="viewCounts"/>
        <result column="weight" property="weight"/>
        <result column="body_id" property="bodyId"/>
        <result column="category_id" property="categoryId"/>
    </resultMap>

    <select id="listArchives" resultType="com.wzk.dao.Archives">
--         select FROM_UNIXTIME(create_date/1000,'%Y') as year,FROM_UNIXTIME(create_date/1000,'%m') as month,count(*) as count from ms_article group by year,month
--         SELECT YEAR(create_date) as year, MONTH(create_date) as month, COUNT(*) as count FROM blog_article GROUP BY year, month
    </select>

    <!--            Long categoryId,
                               Long tagId,
                               String year,
                               String month-->
<!--    <select id="listArticle" resultType="com.wzk.dao.Article">-->
<!--        SELECT * FROM blog_article-->
<!--        <where>-->
<!--            1 = 1-->
<!--            <if test="categoryId != null">-->
<!--                AND category_id = #{categoryId}-->
<!--            </if>-->
<!--            <if test="year != null and year.length>0 and month != null and month.length>0">-->
<!--                AND ( YEAR(create_date) = #{year} AND MONTH(create_date) = #{month} )-->
<!--            </if>-->
<!--            <if test="tagId != null">-->
<!--                AND id IN (SELECT article_id FROM blog_article_tag WHERE tag_id=#{tagId})-->
<!--            </if>-->
<!--        </where>-->
<!--        ORDER BY create_date DESC-->
<!--    </select>-->

</mapper>